<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div ng-if="byName  && !loader">

    <!--  Add back button here -->
    <div class="row" style="padding-bottom: 4%; padding-left: 7%">

        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="enableHome()">Back</button>
        </div>

    </div>
    <div class="col-md-12 table pdname">
        <div class="row ">

            <div class="col-md-2 table-bordered text-center bd ">
                <h5 class="bd">Country</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd ">
                <h5 class="bd">Confirmed</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Critical</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd ">
                <h5 class="bd">Deaths</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Recovered</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Comments</h5>
            </div>
        </div>
        <div class="row" ng-if="countryByName.length==0 || !countryByName[0]">
            <div class=" col-md-12 text-center alert alert-info">No Data Exists In DB</div>
        </div>

        <div class="row" ng-repeat="covid in countryByName track by $index">

            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">{{
                covid.country }}</div>
            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">{{
                covid.confirmed }}</div>
            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">{{
                covid.critical }}</div>
            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">{{
                covid.deaths }}</div>
            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">{{
                covid.recovered }}</div>
            <div
                    class="col-md-2 table-bordered text-right  wrapText maxHeight">
                <button class="btn btn-link" ng-click="viewCommentPage()">View</button>
                |
                <button class="btn btn-link" ng-click="openCommentPage()">Add</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>