<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="row pd " ng-if="country">
    <div class="col-md-12" style="padding-bottom: 4%">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4" style="padding-right: 8%">
                <input type="text" class="form-control col-md-4"
                       ng-model="searchByName" placeholder="Search By Name">
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-12">
        <!--  Add back button here -->
        <div class="row" style="padding-bottom: 4%; padding-left: 7%">

            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="enableHome()">Back</button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 table-bordered text-center ">
                <h5 class="bd">Name</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Country Code</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Latitude</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Longitude</h5>
            </div>
            <div class="col-md-2 table-bordered text-center bd">
                <h5 class="bd">Favorite</h5>
            </div>

        </div>
        <div ng-if="countries.length==0 || !countries[0]" class="row">
            <div class="col-md-12 mgNoData alert alert-info text-center "> No Data Exists</div>
        </div>
        <div class="row " ng-if="countries.length!=0 && countries[0]" ng-repeat="country in countries | filter:searchByName">
            <div class="col-md-2 table-bordered text-center">
                <button class="btn btn-link wrapText"
                        ng-click="loadCountryDetailsByName(country.name)">{{country.name}}</button>
            </div>

            <div class="col-md-2 table-bordered text-center ">
                <button class="btn btn-link wrapText"
                        ng-click="loadCountryDetailsByCode(country.alpha2code)">
                    {{country.alpha2code}}</button>
            </div>


            <div
                    class="col-md-2 table-bordered text-center wrapText maxHeight">
                {{country.latitude}}</div>

            <div
                    class="col-md-2 table-bordered text-center wrapText maxHeight">
                {{country.longitude}}</div>

            <div
                    class="col-md-2 table-bordered text-center wrapText  maxHeight">
                <button class="btn btn-default btn-lg btn-link" ng-click="setFavourite(country)">
                    <span class="glyphicon glyphicon-star" ng-if="country.favourite"></span>
                    <span class="glyphicon glyphicon-star-empty" ng-if="!country.favourite"></span>
                </button>

            </div>

        </div>

    </div>
</div>
</body>
</html>
